main{
    width:90%;
    margin:auto
}

main h2{
    margin:10px auto;
    color: rgb(0, 69, 138);
}

main .info-nueva-alumna{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

main .info-nueva-alumna .categoria-informacion{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    align-items: center;
}

main .info-nueva-alumna .categoria-informacion select{
    font-size: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

main .info-nueva-alumna .comentarios-extra textarea{
    font-size: 16px;
    width:100%;
    height:100px
}

main .info-nueva-alumna .botones{
    width: 100%;
    margin:10px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

main .info-nueva-alumna .botones input{
    width:45%;
    background-color: rgb(0, 69, 138);
    font-size: 18px;
    line-height: 26px;
    color:white;
    border-radius: 10px;
}