<div class="bloque-inferior"></div>
<footer>
    
    <div class="foot-main-foot">
        <ul clas="foot-lista-datos">
            <li>Juncal 1160 • Capital Federal • CP 1062 • Buenos Aires • Argentina</li>
            <li>Cell +54 9 11 15 4065-6953</li>
            <li>mailejemplo1@mallinckrodt.com.ar</li>
        </ul>
    </div>
    <div class="foot-bloque-oscuro"></div>
</footer>

</body>
</html>