<DOCTYPE>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title><%= titulo %></title>
            <link rel="stylesheet" href="/css/stylesHeaderFooter.css">
            <link rel="stylesheet" href="<%= hojaDeEstilo %>">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
        </head>
        <body>
            <header>
                <div class="head-bloqueAzul"></div>
                <div class="head-main-head">
                    <div class="head-burger-menu">
                        <a href="#"><i class="fa-solid fa-bars"></i></a>
                        <ul>
                            <li><a href="#">REGISTRARSE</a></li>
                            <li><a href="#">INGRESAR</a></li>
                            <li><a href="#">MENU</a></li>
                            <li><a href="#">PRECIOS</a></li>
                            <li><a href="#">NOSOTROS</a></li>
                        </ul>
                    </div>
                    <div class="head-logo-colegio">
                        <img src="/images/logo.png" alt="Logo Mallinckrodt" class="logo-imagen">
                    </div>
                    <nav class="head-log-bar">
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <nav class="head-secc-bar">
                    <ul>
                        <li><a href="#">MENU</a></li>
                        <li><a href="#">PRECIOS</a></li>
                        <li><a href="#">NOSOTROS</a></li>
                    </ul>
                </nav>
            </header>
        