<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProfile.css", titulo:"Completar Titulo"}) %>
<main>
    <div class="info-usuario">
        <h2>Nombre y Apellido</h2>
        <h2>E-Mail:</h2>
        <div class="info-alumnos">
            <h2>Alumnas</h2>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>